.load_wrap:last-child {
    margin-right: 0;
}
.spinner {
    position: relative;
    margin: 0 auto;
}
.bubble_1,
.bubble_2 {
    position: absolute;
    top: 0;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: #74ccd3;
}
.bubble_2 {
    top: auto;
    bottom: 0;
}
.spinner {
    animation: loadingI 2s linear infinite;
}
.bubble_1, .bubble_2 {
    animation: bounce 2s ease-in-out infinite;
}
.bubble_2 {
    animation-delay: -1s;
}
@keyframes loadingI {
    100% {
        transform: rotate(360deg);
    }
}
@keyframes bounce {
    0%,
    100% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
}
