<p>Hi <%= @lead_import.user.name %></p>
<p>Your CSV import is complete. Please see the results by clicking the following link</p>
<a href="<%= @lead_import.show_url %>">Click to see the results of the import</a>
