.unordered_list {
  list-style: inside;
  list-style-type: disc;
  padding-left: 15px;
}

.privacy_section h4 {
  margin-top: 35px;
  margin-bottom: 25px;
}

.privacy_section h5 {
  margin-top: 30px;
  margin-bottom: 20px;
}

.privacy_section h6 {
  margin-top: 25px;
  margin-bottom: 15px;
}
